In [3]:
import pandas as pd
import numpy as np
data06 = pd.read_csv(r"D:\ProgramData\python数据分析与挖掘\Python数据分析与挖掘【326758】了解一下数据的基本情况（一）\第9章 pandas模块的介绍\diamonds.csv")
data06.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
pd.pivot_table(data06, index='color',values='price',aggfunc='mean')

             price
color
D      3169.954096
E      3076.752475
F      3724.886397
G      3999.135671
H      4486.669196
I      5091.874954
J      5323.818020

In [8]:
pd.pivot_table(data06, index='color',columns='clarity',values='price',aggfunc='size')

clarity   I1   IF   SI1   SI2   VS1   VS2  VVS1  VVS2
color
D         42   73  2083  1370   705  1697   252   553
E        102  158  2426  1713  1281  2470   656   991
F        143  385  2131  1609  1364  2201   734   975
G        150  681  1976  1548  2148  2347   999  1443
H        162  299  2275  1563  1169  1643   585   608
I         92  143  1424   912   962  1169   355   365
J         50   51   750   479   542   731    74   131

In [16]:
import numpy as np
# 通过groupby方法，指定分组变量
grouped = data06.groupby(by=['color','cut'])
# 对分组变量进行汇总
result = grouped.aggregate({'color':np.size,
                            'carat':np.min,
                            'price':np.mean,
                            'table':np.max})
result

                 color  carat        price  table
color cut
D     Fair         163   0.25  4291.061350   73.0
      Good         662   0.23  3405.382175   66.0
      Ideal       2834   0.20  2629.094566   62.0
      Premium     1603   0.20  3631.292576   62.0
      Very Good   1513   0.23  3470.467284   64.0
E     Fair         224   0.22  3682.312500   73.0
      Good         933   0.23  3423.644159   65.0
      Ideal       3903   0.20  2597.550090   62.0
      Premium     2337   0.20  3538.914420   62.0
      Very Good   2400   0.20  3214.652083   65.0
F     Fair         312   0.25  3827.003205   95.0
      Good         909   0.23  3495.750275   66.0
      Ideal       3826   0.23  3374.939362   63.0
      Premium     2331   0.20  4324.890176   62.0
      Very Good   2164   0.23  3778.820240   65.0
G     Fair         314   0.23  4239.254777   76.0
      Good         871   0.23  4123.482204   66.0
      Ideal       4884   0.23  3720.706388   62.0
      Premium     2924   0.23  4500.742134   62.0
      Very Good   2299   0.23  3872.753806   66.0
H     Fair         303   0.33  5135.683168   73.0
      Good         702   0.25  4276.254986   65.0
      Ideal       3115   0.23  3889.334831   62.0
      Premium     2360   0.23  5216.706780   62.0
      Very Good   1824   0.23  4535.390351   65.0
I     Fair         175   0.41  4685.445714   70.0
      Good         522   0.30  5078.532567   66.0
      Ideal       2093   0.23  4451.970377   62.0
      Premium     1428   0.23  5946.180672   62.0
      Very Good   1204   0.24  5255.879568   65.0
J     Fair         119   0.30  4975.655462   68.0
      Good         307   0.28  4574.172638   65.0
      Ideal        896   0.23  4918.186384   62.0
      Premium      808   0.30  6294.591584   62.0
      Very Good    678   0.24  5103.513274   63.0

In [21]:
import numpy as np
# 通过groupby方法，指定分组变量
grouped = data06.groupby(by=['color','cut'])
# 对分组变量进行汇总
result = grouped.aggregate({'color':np.size,
                            'carat':np.min,
                            'price':np.mean,
                            'table':np.max})
# 调整变量名的顺序
result = pd.DataFrame(result, columns = ['color','carat','price','table'])
result

# 数据集重命名
result.rename(columns={'color':'counts','carat':'min_weight','price':'avg_price','table':'max_face_width'},inplace=True)
result

                 counts  min_weight    avg_price  max_face_width
color cut
D     Fair          163        0.25  4291.061350            73.0
      Good          662        0.23  3405.382175            66.0
      Ideal        2834        0.20  2629.094566            62.0
      Premium      1603        0.20  3631.292576            62.0
      Very Good    1513        0.23  3470.467284            64.0
E     Fair          224        0.22  3682.312500            73.0
      Good          933        0.23  3423.644159            65.0
      Ideal        3903        0.20  2597.550090            62.0
      Premium      2337        0.20  3538.914420            62.0
      Very Good    2400        0.20  3214.652083            65.0
F     Fair          312        0.25  3827.003205            95.0
      Good          909        0.23  3495.750275            66.0
      Ideal        3826        0.23  3374.939362            63.0
      Premium      2331        0.20  4324.890176            62.0
      Very Good    2164        0.23  3778.820240            65.0
G     Fair          314        0.23  4239.254777            76.0
      Good          871        0.23  4123.482204            66.0
      Ideal        4884        0.23  3720.706388            62.0
      Premium      2924        0.23  4500.742134            62.0
      Very Good    2299        0.23  3872.753806            66.0
H     Fair          303        0.33  5135.683168            73.0
      Good          702        0.25  4276.254986            65.0
      Ideal        3115        0.23  3889.334831            62.0
      Premium      2360        0.23  5216.706780            62.0
      Very Good    1824        0.23  4535.390351            65.0
I     Fair          175        0.41  4685.445714            70.0
      Good          522        0.30  5078.532567            66.0
      Ideal        2093        0.23  4451.970377            62.0
      Premium      1428        0.23  5946.180672            62.0
      Very Good    1204        0.24  5255.879568            65.0
J     Fair          119        0.30  4975.655462            68.0
      Good          307        0.28  4574.172638            65.0
      Ideal         896        0.23  4918.186384            62.0
      Premium       808        0.30  6294.591584            62.0
      Very Good     678        0.24  5103.513274            63.0